* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  /* background-color: azure; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center;
}
input {
  background-color: skyblue;
  height: 40px;
  text-align: center;
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  font-size: 20px
        
}
.btn1 {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  color: whitesmoke;
  background-color: darkred;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.prevBtn {
  border: none;
  margin: 5px 50px;
  /* width: 100px; */
  height: 60px
}
.cards {

}
.picture {
  height: 200px; 
  margin: 5px 35px;
  padding: 15px;
  border-radius: 5px;
  transition:transform 0.50s ease; 
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

img:hover {
-webkit-transform:scale(1.1); 
transform:scale(1.1);
}

.image {
  /* width: 100%;
  height: 80%; */
  /* background-color: #1f0101;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; */

width: 100%;
/* height: 100%; */
-webkit-column-count: 5;
-webkit-column-gap: 0px;
-moz-column-count: 5;
-moz-column-gap: 0px;
column-count:  5; 
column-gap: 0px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
/* margin: 20px; */
border: 3px solid skyblue;
border-radius: 10px;
background-color: azure;
}
.description{
  display: none;
  font-size: 20px;
}
.cards:hover .description{
  display: block;
  box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
  padding: 5px;
  border-radius: 7px;
  border: 1px solid skyblue;
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
}
h1{
margin-top: 30px;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  background-color: rgb(113, 126, 136);
  width: 100%;
  color: white;

}
@media only screen and (max-width: 700px) {
  .image {
      display: grid;
      justify-content: center;
  }  
}